@page
@model IndexModel
@{
    ViewData["Title"] = "Notcobase - Tables";
}

<div id="root"></div>

@section Scripts {
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tables/core/namespace.js"></script>
    <script src="~/js/tables/core/api-client.js"></script>
    <script src="~/js/tables/core/field-types.js"></script>
    <script src="~/js/tables/core/record-values.js"></script>
    <script src="~/js/tables/components/Modal.js"></script>
    <script src="~/js/tables/components/CellEditorPopup.js"></script>
    <script src="~/js/tables/TablesApp.js"></script>
    <script src="~/js/tables/main.js"></script>
}
