@page
@model IndexModel
@{
    ViewData["Title"] = "Notcobase - Tables";
}

<div id="root"></div>

@section Scripts {
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tables/core/namespace.js"></script>
    <script src="~/js/tables/core/api-client.js"></script>
    <script src="~/js/tables/core/field-types.js"></script>
    <script src="~/js/tables/core/record-values.js"></script>
    <script src="~/js/tables/components/Modal.js"></script>
    <script src="~/js/tables/components/CellEditorPopup.js"></script>
    <!-- Utils -->
    <script src="~/js/tables/utils/tableOperations.js"></script>
    <script src="~/js/tables/utils/columnOperations.js"></script>
    <script src="~/js/tables/utils/recordOperations.js"></script>
    <script src="~/js/tables/utils/editorUtils.js"></script>
    <!-- Hooks -->
    <script src="~/js/tables/hooks/useTableState.js"></script>
    <script src="~/js/tables/hooks/useColumnState.js"></script>
    <script src="~/js/tables/hooks/useRecordState.js"></script>
    <script src="~/js/tables/hooks/useCellEditor.js"></script>
    <!-- Components -->
    <script src="~/js/tables/components/TablesList.js"></script>
    <script src="~/js/tables/components/TableHeader.js"></script>
    <script src="~/js/tables/components/TableStats.js"></script>
    <script src="~/js/tables/components/FieldsList.js"></script>
    <script src="~/js/tables/components/RecordsTable.js"></script>
    <!-- Modals -->
    <script src="~/js/tables/components/CreateTableModal.js"></script>
    <script src="~/js/tables/components/EditTableModal.js"></script>
    <script src="~/js/tables/components/CreateRecordModal.js"></script>
    <script src="~/js/tables/components/EditFieldModal.js"></script>
    <!-- Main App -->
    <script src="~/js/tables/TablesApp.js"></script>
    <script src="~/js/tables/main.js"></script>
}
