@page
@{
    ViewData["Title"] = "Schema Renderer";
}

<div id="schema-renderer-root"></div>

@section Scripts {
    <script>
        const token = localStorage.getItem("jwtToken");

        if (!token) {
            window.location.href = "/Login";
        }
    </script>
    <link rel="stylesheet" href="https://unpkg.com/antd@5/dist/reset.css" />
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/dayjs@1/dayjs.min.js"></script>
    <script src="https://unpkg.com/antd@5/dist/antd.min.js"></script>
    <script src="https://unpkg.com/zustand@4.5.0/umd/vanilla.production.js"></script>
    <script type="module" src="~/js/schemaRenderer/DesignerDndKitBridge.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/SchemaUtils.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/ComponentRegistry.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/DecoratorRegistry.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/DesignerStore.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/SchemaRenderer.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/SchemaPagesApi.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/PropertyPanel.js" asp-append-version="true"></script>
    <script src="~/js/schemaRenderer/SchemaDesignerApp.js" asp-append-version="true"></script>
}
