@page
@model UsersModel
@{
    ViewData["Title"] = "Users & Permissions";
}

<div id="root"></div>

@section Scripts {
    <script>
        const token = localStorage.getItem("jwtToken");

        if (!token) {
            window.location.href = "/Login";
        }
    </script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin/api-client.js"></script>
    <script src="~/js/admin/UsersApp.js"></script>
}
